@font-face { 
	font-family: "Spongebob"; 
	src: url(../assets/fonts/Spongeboy\ Me\ Bob.ttf); 
}


* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    background-image: url(../assets/Sprites/Bubble-background.webp);

  }

  .difficulty {
    display: flex;
    flex-direction: column;
    align-items:  center;
  }

  p {
    font-family: "Spongebob";
  }

  .controls {
    display: flex;
  }

  #controls {
    margin-top: 40px;
    font-size: 25px;
  }

  #home1 {
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 0px;
  }

  #home2 {
    font-size: 20px;
    margin-top: 0px;
    color: brown;
  }

  button {
    font-family: "Spongebob";
    font-size: 45px;
    background: none;
    border: none;
    margin-bottom: 10px;
    color: rgb(231, 169, 10);
  }

  #arrows {
    height: 100px;
  }
  
  #bobby {
    margin-top: 200px;
    height: 200px;
  }

  .grid-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #crying {
    height: 150px
  }
  
  .grid {
    background-image: url(../assets/Sprites/beach.webp);
    background-size: cover;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    width: 350px;
    justify-content: center;
    background-color: aliceblue;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  
  .grid div {
    /* border: 1px solid lightgrey; */
    flex-grow: 1;
    height: 10%;
    width: 10%;
    position: relative;
  }

  .startLives {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: 0px;
    padding: 0px;
  }

  #lives-display {
    margin-left: 90px;
  }
  
  .grid div.squidward {
    background-image: url('../assets/Sprites/squidward.gif');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid div.krab {
    background-image: url('../assets/Sprites/krab.gif');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid div.patrick {
    background-image: url('../assets/Sprites/patrick.gif');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid div.gary {
    background-image: url('../assets/Sprites/gary.gif');
    background-repeat: no-repeat;
    background-size: contain;
  }

  
  .grid div.grandma {
    background-image: url('../assets/Sprites/grandma.gif');
    background-repeat: no-repeat;
    background-size:inherit;
  }

  .grid div.wood {
    background-image: url('../assets/Sprites/wood.jpg');
    background-repeat: repeat;
    background-size: contain;
  }

  .grid div.water {
    background-image: url('../assets/Sprites/water.gif');
    background-repeat: repeat;
    background-size: contain;
  }

  .grid div.bob::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url('../assets/Sprites/spongebob_walk.gif');
    background-repeat: no-repeat;
    background-size: contain;
  }

  

  .grid div.finish {
    background-image: url('../assets/Sprites/burger.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  