* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    background-image: url(../assets/Sprites/Bubble-background.webp);

  }
  
  #startBtn {
    margin: 25px 0px 25px 0px;
  }

  .grid-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    justify-content: center;
    height: 600px;
    width: 600px;
    background-color: aliceblue;
    margin-bottom: 25px;
  }
  
  .grid div {
    border: 1px solid lightgrey;
    flex-grow: 1;
    height: 10%;
    width: 10%;
  }

  .startLives {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: 0px;
    padding: 0px;
  }
  
  .grid div.bob {
    background-image: url('../assets/Sprites/spongebob_walk.gif');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .grid div.squidward {
    background-image: url('../assets/Sprites/squidward.gif');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid div.krab {
    background-image: url('../assets/Sprites/krab.gif');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid div.patrick {
    background-image: url('../assets/Sprites/patrick.gif');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid div.wood {
    background-image: url('../assets/Sprites/wood.jpg');
    background-repeat: repeat;
    background-size: contain;
  }

  .grid div.water {
    background-image: url('../assets/Sprites/water.gif');
    background-repeat: repeat;
    background-size: contain;
  }


  .grid div.finish {
    background-color: crimson;
  }